<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cough Checker</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">

  <!-- App CSS -->
  <link href="/static/css/main.css" rel="stylesheet"/>

  <!-- Custom Fonts -->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          Menu <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/huang-yue/" target=“_blank”>About author</a>
          </li>
          <li>
            <a href="https://docs.google.com/presentation/d/1o7JByCHuJUT5_OCHVKYYrp4YCiG-J0Zj3vt6Vp3TfxY/pub?start=false&loop=false&delayms=10000" target=“_blank”>How it works</a>
          </li>
          <li>
            <a href="#email">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/static/img/background.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Cough Checker</h1>
            <hr class="small">
            <span class="subheading">Check your cough-related symptoms and make informed decisions</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <div class="warning">
          Call 911 immediately if you have a sudden onset of cough associated with:
          <ul>
            <li>Severe difficulty breathing</li>
            <li>Swollen face and hives</li>
            <li>Severe chest pain</li>
            <li>Coughing blood</li>
          </ul>
        </div>
        <div>
          <p> Please answer the following questions to understand your health condition related to cough and decide what to do next.</p>
        </div>
        <form action="/result" method="post">

          <h2>Personal Information</h2>
          <div class="questions">
            <div class="left">
              <div class="question">Age: <input type="number" name="q1"></input></div>
            </div>
            <div class="right">
              <div class="question"><input type="checkbox" name="q2" value ="1"> Currently smoking</div>
            </div>
          </div>
          <hr>

          <h2>What symptoms do you have besides cough?</h2>
            <h3>(select all that apply)</h3>
          <div class="questions">
            <div class="left">
              <div class="question"><input type="checkbox" name="q7" value="1"> Sore throat</div>
              <div class="question"><input type="checkbox" name="q9" value="1"> Nasal congestion</div>
              <div class="question"><input type="checkbox" name="q5" value="1"> Shortness of breath</div>
            </div>
            <div class="right">
              <div class="question"><input type="checkbox" name="q6" value="1"> Wheezing</div>
              <div class="question"><input type="checkbox" name="q8" value="1"> Vomiting</div>
              <div class="question"><input type="checkbox" name="q4" value="1"> Allergic reaction</div>
            </div>
          </div>
          <hr>

          <h2>Type of your symptoms?</h2>
          <div class="questions">
            <div class="left">
              <div class="question"><input id="q3.1" type="radio" name="q3" value="1"> Chronic problem (routine)</div>
              <div class="question" ><input id="q3.2" type="radio" name="q3" value="2" > Chronic problem (flare-up)</div>
            </div>
            <div class="right">
              <div class="question"><input id="q3.3" type="radio" name="q3" value="0" > Others</div>
            </div>
          </div>
          <hr>

          <div>
            <input type="submit" class="btn btn-lg btn-success" value="Go check it for me!"></input>
          </div>
        </form>

      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <ul class="list-inline text-center">
            <li>
              <a id="email" href="mailto:yue.daphne.huang@gmail.com">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/huang-yue/" target=“_blank”>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://github.com/yue-huang" target=“_blank”>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Cough Checker 2017</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Theme JavaScript -->
  <script src="/static/js/clean-blog.min.js"></script>

  <script>
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
    results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  let preset = getParameterByName('preset');
  if (preset == 'mild') {
    $("input[name='q1']").val(30);
    $("input[name='q14']").attr('checked', true);
    document.getElementById('q4.0').checked = true;
  } else if (preset == 'severe') {
    $("input[name='q1']").val(30);
    document.getElementById('q4.1').checked = true;
    $("input[name='q12']").attr('checked', true);
    $("input[name='q15']").attr('checked', true);
  }
  </script>
</body>

</html>
