<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cough Checker</title>
  </head>

  <body>
    <h1>Cough Checker</h1>

    <p>Some description here ...</p>

    <h2>What symptoms do you have?</h2>

    <form action="/result" method="post">
      <div class="question">
        Question 1: <input type="text" name="q1"></input>
      </div>

      <div class="question">
        Question 2: <input type="number" name="q2"></input>
      </div>

      <input type="submit" value="Go check it for me!"></input>
    </form>
  </body>
</html>
